{% extends 'main.html' %}

{% block content %}
<h1> {{auth_id.name}} </h1>
<body>

<p>{{auth_id.description}}</p>

  <div class="comment-wrapper">
    <h3>Чат</h3>
    <hr>
    {%for comment in comments%}
      <div>
        <small>@{{comment.user_id}}   {{comment.created|timesince}} ago</small>
        <p>{{comment.body}}</p>
        <hr>
      </div>
    {%endfor%}
  </div>

{% if request.user.is_authenticated %}
<div class="comment-form">
  <form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="body" placeholder="Введите текст вашего сообщения здесь..."/>
  </form>
</div>
{% endif %}

</body>
{% endblock %}
