<div>
    {% for auth_id in authorize_mode %}
    <div>
        {% if request.user == auth_id.host %}
        <a href="{% url 'update-resource' auth_id.id %}">Edit</a>
        <a href="{% url 'delete-resource' auth_id.id %}">Delete</a>
        <hr>
        {% endif %}
        <span>@{{auth_id.host.username}}</span>
        <h5>{{auth_id.id}} -- <a href="{% url 'Authorize' auth_id.id %}">{{auth_id.name}}</a>></h5>
        <small>Работает над книгой: {{auth_id.assigned.library_entity_id.book.name}}</small>
        <hr>
    </div>
    {% endfor %}
</div>