{% extends 'main.html' %}

{% block content %}
<h1> Основная страница библиотеки </h1>
<div>
    <a href="{% url 'create-resource' %}">Create Resource</a>
    <hr>
    <div>
        {% for auth_id in authorize_mode %}
            <div>
                <a href="{% url 'update-resource' auth_id.id %}">Edit</a>
                <hr>
                <span>@{{auth_id.host.username}}</span>
                <h5>{{auth_id.id}} -- <a href="{% url 'Authorize' auth_id.id %}">{{auth_id.name}}</a>></h5>
                <small>Currently working at a book: {{auth_id.assigned.library_entity_id.book.name}}</small>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
<html>
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}" >
</head>
</html>
{% endblock %}